.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/fundo.png');
  background-size: cover;
}

.cardLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 70vh;
  padding-top:30px ;
  padding-bottom:30px ;
}

.title{
  color: #fff;
  margin-bottom: 60px;
}

.input{
  padding: 10px;
  width: 80%;
  margin-bottom:20px ;
  border-radius: 25px;
  border: 0;
  background-color: rgba(85, 84, 84, 0.857);
  color: white;
}
.input:focus {
  outline: none !important;
  box-shadow: 0 0 0px white;
}

.button{
  margin-top: 15px ;
  padding: 10px;
  width: 80%;
  margin-bottom:20px ;
  border-radius: 25px;
  border: 0;
  background-color: rgba(190, 30, 30, 0.857);
  color: white;
}

.link{
  color: white;
  text-align: center;
  font-size: 14px;
}
